* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    background-color: #f5fcec;
  }
  
  /* Header de la pagina */
  header {
    text-align: center;
    padding: 20px;
    font-size: 40px;
  }
  
  
  /* Estructura de la pagina */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
  }
  
  /* Imagenes */
  .card {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    box-shadow: 5px 5px 5px rgb(177, 177, 177);
    text-align: center;
    font-size: 1rem;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: all 0.1s;
  }
  .card img {
    width: 100%;
  }
  
  .card h3 {
    text-align: center;
    font-size: 1.2rem;
  }
  
  .card b {
    color: rgb(77, 22, 216);
  }
  
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }
  
  .modalDialog:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
  }
  
  .close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  
  .close:hover {
    background: red;
  }
  
  .modal__img {
    width: 100%;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }